
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-at"></i>
        <i class="fas fa-mail-bulk"></i>
      </div>
      <form action="/">
        <h1>Register</h1>
        <div class="info">
          <input class="pname" type="text" name="name" placeholder="Name">
          <input type="number" name="age" defaultValue="18" placeholder="Age">
          <input type="text" name="name" placeholder="Email">
          <input type="text" name="name" placeholder="Mobile">
          <select name="india_state"><option value="1">KA</option></select>
          <select name="district"><option value="101">Bangalore</option></select>
          <input type="text" name="name" placeholder="PIN code">
        </div>
        <button type="submit" href="/">Submit</button>
      </form>
    </div>
